@use '../../../styles/globals.scss' as *;


.primary{
    padding: 5px 10px;
    font-family: $text;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    box-sizing: border-box;
    font-size: 20px;

    border: 2px solid $color-primary-base;
    background-color: $color-primary-300;
    color: $color-primary-50;
    &:hover{
        background-color: $color-primary-250;
        color: white;
    }
}
.secondary{
    padding: 5px 10px;
    font-family: $text;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    box-sizing: border-box;
    font-size: 20px;

    background-color: white;
    border: 2px solid $color-primary-300;
    color: $color-primary-300;
    
    &:hover{
        background-color: $color-primary-300;
        color: white;
        border: 2px solid $color-primary-base;
    }
}

.about-manddy{
    padding: 25px 0;
    background-color: $color-primary-100;

    .about-manddy-info{
        margin: 0 20px;
        h2{
            margin: 0;
            color: $color-primary-300;
        }
        p{
            padding: 0 5px;
            font-family: $text;
            font-size: 19px;
        }

    }
}

.unique{
    padding: 25px 0;
    background-color: $color-primary-200;

    .manddy-unique{
        margin: 0 20px;
        h2{
            margin: 0;
            color: $color-primary-300;
        }
        li{
            padding: 0 5px;
            font-family: $text;
            font-size: 19px;

            span{
                color: $color-primary-300;
                font-weight: 700;
            }
        }

    }
}

.philosophy{
    padding: 25px 0;
    background-color: $color-primary-100;

    .philosophy-manddy{
        margin: 0 20px;
        h2{
            margin: 0;
            color: $color-primary-300;
        }
        p{
            padding: 0 5px;
            font-family: $text;
            font-size: 19px;
        }

    }
}

.contact-us{
    padding: 25px 0;
    background-color: $color-primary-200;

    .contact-info{
        margin: 0 20px;
        h2{
            margin: 0;
            color: $color-primary-300;
        }
        p{
            padding: 0 5px;
            font-family: $text;
            font-size: 19px;
        }
    }
}

@include cel{


    .about-manddy{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        align-items: center;
        
        .about-manddy-info{
            grid-column: 1/2;
            grid-row: 1/3;
            p{
                font-size: 22px;
            }
        }
        
        img{
            grid-column: 2/3;
            grid-row: 1/3;
        }
    }
    
    .unique{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        align-items: center;
        
        .manddy-unique{
            grid-column: 2/3;
            grid-row: 1/3;
            P{
                font-size: 22px;
            }
        }
        
        img{
            grid-column: 1/2;
            grid-row: 1/3;
        }
    }
    
    .philosophy{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        align-items: center;
        
        .philosophy-manddy{
            grid-column: 1/2;
            grid-row: 1/3;
            P{
                font-size: 22px;
            }
        }
        
        img{
            grid-column: 2/3;
            grid-row: 1/3;
        }
    }
    
    .contact-us{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        align-items: center;
        
        .contact-info{
            grid-column: 2/3;
            grid-row: 1/3;
            P{
                font-size: 22px;
            }
        }
        
        img{
            grid-column: 1/2;
            grid-row: 1/3;
        }
    }
}

@include tablet{
    .about-manddy{

        p{
            margin: 0 50px;
        }

        img{
            max-height: 500px;
        }
    }

    .unique{

        .manddy-unique{
            margin: 0 50px;
        }
        
        img{
            max-height: 500px;
        }
    }

    .philosophy{
        p{
            margin: 0 50px;
        }

        img{
            max-height: 500px;
        }
    }

    .contact-us{
        .contact-info{
            margin: 0 50px;
        }
        
        img{
            max-height: 500px;
        }
    }
}
